<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appender class="ch.qos.logback.core.ConsoleAppender" name="CONSOLE">
        <encoder>
            <pattern>
                <![CDATA[[%d{yyyy-MM-dd HH:mm:ss}] %-5level[%thread] %logger{35} [%method{24}:%line] - %msg%n]]>
            </pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
